<!-- <app-header title="Inicio"></app-header> -->
<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary" >

      <ion-title slot="start"> Home</ion-title>

      <ion-buttons slot="end" >
        
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>

      </ion-buttons>
    
    </ion-toolbar>
  </ion-toolbar>
</ion-header>





<!-- =============== contenido ================ -->
<ion-content>



  <!-- ========Nuevo Producto========= -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>